@charset "UTF_8";

footer {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(44, 60, 76, 0.89);
}

.subscribe {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 80px;

}

.subscribe .subscribe-sec h1 {
    color: white;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.8em auto;
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--BG);
}

.subscribe .subscribe-sec .subscribe-sec-div {
    display: flex;
    flex-basis: 100%;
    padding-bottom: 20PX;
    flex-wrap: wrap;
}

.subscribe .subscribe-sec article {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    /*padding-bottom: 300px;*/
}

.subscribe .subscribe-sec article h2 {
    color: white;
    display: flex;
    flex-basis: 80%;
    margin: 0 auto;
    height: 15%;

    text-align: center;
}

.subscribe .subscribe-sec article p {
    color: white;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    height: 25%;
    margin-bottom: 20px;
    line-height: 40px;
}

.subscribe .subscribe-sec article span {
    flex-basis: 100%;
    height: 60%;
}

.subscribe .subscribe-sec .form {
    display: flex;
    flex-basis: 50%;
    border-radius: 5px;
}

.subscribe .subscribe-sec .form form {
    display: flex;
    margin: 0 auto;
    flex-basis: 50%;
    padding: 20px 0;
    min-width: 400px;
    max-width: 600px;
    justify-content: center;
    border: 1px solid #97acc1;
    border-radius: 5px;
    background-color: white;
    flex-wrap: wrap;

}

.subscribe .subscribe-sec .form form h1 {
    color: var(--BG2);
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 1.6em;
    border: none;
}

.subscribe .subscribe-sec .form form .lbl-inp {
    display: flex;
    flex-basis: 100%;
    text-align: left;
    font-size: .8em;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 15px;
}

.subscribe .subscribe-sec .form form .lbl-inp label {
    display: flex;
    flex-basis: 80%;
    margin: auto;
    color: rgba(0, 0, 0, 0.7);
}

.subscribe .subscribe-sec .form form .lbl-inp .arange {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.subscribe .subscribe-sec .form form .lbl-inp input {
    display: flex;
    max-width: 380px;
    flex-basis: calc(90% - 40px);
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #97acc1;
    align-items: center;
    justify-content: center;
}

.subscribe .subscribe-sec .form form .lbl-inp .arange .textarea{
    display: flex;
    max-width: 380px;
    flex-basis: calc(90% - 40px);
    margin: 0 auto;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #97acc1;
    justify-content: center;
    height: 80px;
    align-items: flex-start;
    align-content: flex-start;
}

.subscribe .subscribe-sec .form form .lbl-inp input.btn-sucess {
    border-radius: 10px;
    margin: 20px auto;
    color: white;

}

.foot {
    background-color: #2C3C4C;
    width: 100%;
    margin: 0 auto;
}

.foot .article {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 80px;

}

.foot .article > p {
    display: flex;
    flex-basis: 100%;
    text-align: center;
    color: #cae4ff;
    font-weight: lighter;
    font-size: .8em;
    justify-content: center;
    border-top: .5px solid #53708F;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-top: 5px;
}

.subscribe .subscribe-sec .subscribe-sec-div > article > h2 {
    justify-content: center;
}

.subscribe .subscribe-sec .subscribe-sec-div > article > p {
    text-align: justify;
}

.foot .article .foot-items {
    display: flex;
}


.foot .article .menu, .contact {
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
}

.foot .article .menu {
    padding-left: 20px;
}

.foot .article .menu ul{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.foot .article .menu ul li{
    line-height: 40px;
    font-size: .8em;
    color: #cae4ff;
    display: flex;
    flex-basis: 100%;
}

.foot .article .menu ul li a{
    display: flex;
    flex-basis: 100%;
    color: #cae4ff;
    font-weight: bolder;
    padding-left: 5px;
}

.foot .article .menu ul li a:hover{
    text-decoration: underline #cae4ff;
    translate: .5px .5px;
    font-size: 1.2em;
    transition-duration: .1s;
}

.foot .menu h2 {
    display: flex;
    flex-basis: 100%;
    margin: 0 auto;
    font-size: 1.1em;
    color: #cae4ff;
}

.foot .article .contact {
}

.foot .contact h2 {
    display: flex;
    flex-basis: 100%;
    margin: 0 auto;
    font-size: 1.1em;
    color: #cae4ff;
}

.foot .contact a {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    line-height: 45px;
    font-size: .8em;
    color: #cae4ff;
    padding-left: 5px;
    font-weight: bolder;
}

.foot .contact a:hover{
    text-decoration: underline #cae4ff;
    translate: .5px .5px;
    font-size: .9em;
    transition-duration: .1s;
}

.foot .contact a img {
    max-width: 20px;
    align-items: center;
    margin-right: 5px;
    background-color: #cae4ff;
    border-radius: 50%;
}

.foot .article .guizo {
    flex-wrap: wrap;
    flex-basis: 50%;
}

.foot .guizo h2 {
    display: flex;
    flex-basis: 80%;
    margin: 0 auto;
    font-size: 1em;
    color: #cae4ff;
}

.foot .guizo > p {
    text-align: justify;
    line-height: 30px;
    font-size: .8em;
    color: #cae4ff;
}

