@charset "UTF_8";

.SITE{
    display: none;
}
/* MENU */
.header-top {
    width: 100%;
}

.header-top .conteiner-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
    display: flex;
    height: 80px;
}

.header-top .conteiner-header .header-logo {
    display: flex;
    flex-basis: 240px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header-top .conteiner-header .header-logo img {
    /*margin-right: 10px;*/
    width: 60px;
    padding: 5px;
}

.header-top .conteiner-header #logo {
    font-weight: bolder;
    color: var(--IDG);
    font-size: 1.6em;
    align-items: center;
}

.header-top .conteiner-header #logo2 {
    align-items: center;
    display: none;
    margin: auto;
}

.header-top .conteiner-header .header-menu {
    display: flex;
    flex-basis: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.header-top .conteiner-header .menu-mobile{

}

.header-top .conteiner-header .menu-mobile span{
    width: 60px;
    height: 2px;
    color: #0669bb;
    display: none;
}

.header-top .conteiner-header .header-menu ul {
    height: 100%;
    display: flex;
    align-items: center;

}

.header-top .conteiner-header .header-menu ul li {
    display: flex;
    height: 100%;
    align-items: center;

}

.header-top .conteiner-header .header-menu ul li a {
    color: var(--IDG);
    display: flex;
    height: 100%;
    padding: 0 1.2em;
    align-items: center;
}

.header-top .conteiner-header .header-menu ul li a:hover {
    color: var(--BG);
    /*background-color: var(--ID);*/
    background-color: var(--IDG);
}


/* IMAGEM PRINCIPAL */
.content {
    /*background-color: var(--IDG);*/
    width: 100%;
    background-image: url("../../images/tecladoWhite.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

.content .BG-black{
    flex-basis: 100%;
    background-color: rgba(0, 0, 0, 0.30);
}

.content-img-main {
    display: flex;
    min-height: 400px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.15);
}

/*span {*/
/*    flex-basis: 30%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.txt {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.content-img-main h2 {
    color: var(--BG);
    text-align: center;
    flex-basis: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.53);
}

.paragraph {
    /*filter: blur(3px);*/
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /*min-width: 300px;*/
}

.content-img-main p {
    color: var(--BG);
    text-align: center;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.4em;
}

.content-img-main .a {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}

.content-img-main a {
    flex-basis: 100%;
    text-align: center;
    height: 40px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


/*/////////////////////////////////////////////////// MENU MOBILE ////////////////////////////////////////////////*/

.menu-mobile-list{
    /*display: flex;*/
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: rgba(6, 105, 187, 0.89);
    color: white;
    justify-content: center;
    position: absolute;
    width: 280px;
    margin-top: 24px;
    translate: -220px 0;
    border-radius: 0px 0px 0px 20px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
}

.menu-mobile-list ul{
    display: flex;
    align-items: center;

}

.menu-mobile-list li{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    /*width: 320px;*/
    border-radius: 0px 0px 0px 20px;
}

.menu-mobile-list li:hover{
    background-color: rgba(255, 255, 255, 0.78);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transition-duration: .5s;
}
.menu-mobile-list li a{
    display: flex;
    flex-basis: 100%;
    color: white;
    padding: 20px 40px;
    justify-content: center;
}

.menu-mobile-list li a:hover{
    color: var(--IDG);
}